.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 50px;
  width: 50px;
}

.button {
  font-size: 14px;
  font-weight: 700;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #53c371;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  display: inline-block;
  margin-left: 4px;
  transition: all 0.23s ease-in-out 0s;
  font-family: 'Poppins', sans-serif;
}

.button:hover {
  background-color: #777;
  cursor: pointer;
}

form {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.mc-field-group {
  display: inline-block;
}

/* positions input field horizontally */
.emailInput {
  font-size: 15px;
  border: 1px solid #abb0b2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 8px;
  display: inline-block;
  margin: 0;
  width: 190px;
  vertical-align: top;
  font-family: 'Poppins', sans-serif;
}

.emailInput:focus {
  border-color: #53c371;
  outline: none;
}

h3 {
  color: #53c371;
}

label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}

#mc_embed_signup.h3 {
  color: #5ece71;
}

.mceResponses {
  float: left;
  top: -1.4em;
  padding: 0em 0.5em 0em 0.5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}

div.response {
  margin: 1em 0;
  padding: 1em 0.5em 0.5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

#mce-error-response {
  display: none;
}

#mce-success-response {
  color: #5ece71;
  display: none;
}

label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: 0.5em 0;
}

@media (max-width: 768px) {
  .clear {
    display: block;
  }
}
